<div class="container marketing" id="dinamica">

<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-lg-4">
    <img class="bd-placeholder-img rounded-circle" src="../assets/inductivo-biblia.jpg" width="140" height="140" preserveAspectRatio="xMidYMid slice">
    <h2 class="fw-normal">Me Venden <br>Autor: {{ persona.Nombre+' '+persona.Apellido }}</h2>
    <p>presentamos un programa para jóvenes, ideal para realizar en casa de algún amigo, en pequeños grupos de no más de 10 personas.El objetivo de este juego será reflexionar sobre la autoestima, y los efectos que pueden tener en la persona.</p>
    <p><a class="btn btn-secondary" href="#">Leer Mas</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="bd-placeholder-img rounded-circle" src="../assets/tabu.jpg" width="140" height="140" preserveAspectRatio="xMidYMid slice">
    <h2 class="fw-normal">Tu propio Tabú</h2>
    <p>¿Conoces el Tabú? Es un juego que consiste en describir un término para que otros lo adivinen, pero… Atención, ni se te ocurra nombrar las palabras prohibidas o quedarás descalificado. ¡Aprende a crear tu propio Tabú y dale vida a tus reuniones y gincanas!</p>
    <p><a class="btn btn-secondary" href="#">Leer Mas</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="bd-placeholder-img rounded-circle" src="../assets/lo_que_me_gusta_de_ti.jpg" width="140" height="140" preserveAspectRatio="xMidYMid slice">
    <h2 class="fw-normal">Lo que me gusta de ti</h2>
    <p>Rompe el hielo en tus veladas de jóvenes con un juego lleno de color y palabras bonitas. Deja que los demás las dibujen en tu espalda y descubre que eres valioso para los que te rodean. Porque, cuando las palabras de amor se expresan, nos hacemos humildes, se estrechan lazos y mejora la concepción que tenemos de nosotros mismos.</p>
    <p><a class="btn btn-secondary" href="#">Leer Mas</a></p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->


<!-- START THE FEATURETTES -->

<hr class="featurette-divider"  id="articulo">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading fw-normal lh-1">Cómo resolver un conflicto</h2>
    <p class="lead">En mi trabajo, son muchas las veces que tengo que mediar con los alumnos o con sus familias, incluso a veces con los propios profesores. Los conflictos son necesarios para nuestro crecimiento personal, nos ayudan a madurar. El problema lo encontramos cuando no sabemos cómo solucionarlos.</p>
    <p class="lead">Entonces los conflictos se convierten en una trampa mortal que nos conduce a la desesperación, llegando incluso a enfermarnos.</p>
    <p class="lead">Aquí os presentamos unos sencillos consejos.</p>
  </div>
  <div class="col-md-5">
    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="../assets/consejero.jpg" width="500" height="500" preserveAspectRatio="xMidYMid slice">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading fw-normal lh-1">¿Puede un Científico Ser Cristiano? </h2>
    <p class="lead">Fue el primero en usar el telescopio para estudiar los cielos. Fue el primero en descubrir las lunas de Júpiter, el primero en anunciar las manchas solares, el primero en llegar a saber que la Vía Láctea está formada de millones de estrellas y el primero en sugerir que la luna es montañosa.</p>
    <p class="lead">También fue uno de los primeros en decir que Tolomeo estaba equivocado y que Copérnico estaba en lo cierto: la tierra gira alrededor del sol, y no lo contrario.</p>
    <p class="lead">Estos anuncios le ocasionaron a Galileo Galilei (1564-1642), uno de los fundadores de la ciencia experimental moderna, conflictos con la iglesia establecida. Los jesuitas creían que sus enseñanzas acarrearían las peores consecuencias para la iglesia de Roma. El anciano científico fue juzgado y forzado a retractarse de sus enseñanzas. Y Galileo se retractó. Pero se cuenta que susurró: "Eppur si muove!" (y sin embargo, se mueve). Después de más de 350 años, en 1992, el Papa Juan Pablo II aceptó que se había cometido un gran error al condenar a Galileo.</p>
  </div>
  <div class="col-md-5 order-md-1">
    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="../assets/ciencia.jpg" width="500" height="500" preserveAspectRatio="xMidYMid slice">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading fw-normal lh-1">Los Celos... ese sentimiento incontrolable </h2>
    <p class="lead">Porque los celos son el furor del hombre, Y no perdonará en el día de la venganza (Proverbios 16:34).</p>
    <p class="lead">Definitivamente a lo mejor nadie de nosotros ha estado exento a caer en las destrozantes garras de los celos. Ya que por A o B razón hemos permitido en momento determinado que los celos se apoderen de nuestras acciones o de nuestras palabras.</p>
    <p class="lead">Los celos Rompen relaciones entre esposas y esposos, familia, amigos....</p>
  </div>
  <div class="col-md-5">
    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="../assets/celos.jpg" width="500" height="500" preserveAspectRatio="xMidYMid slice">
  </div>
</div>

<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->

</div><!-- /.container -->
